<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abdelmun3m.prototype"> <!-- force include firebase Ui library instate of the minsdk required in it(17) and the minSDK in project(15) -->
    <uses-sdk tools:overrideLibrary="com.firebase.ui.auth" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LvqXml"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".distance_popup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alarm_popup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".loadingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".notification_popup"
            android:theme="@style/AppTheme.NoActionBar" />
        The API key for Google Maps-based APIs is defined as a string resource.
        (See the file "res/values/google_maps_api.xml").
        Note that the API key is linked to the encryption key used to sign the APK.
        You need a different API key for each encryption key, including the release key that is used
        to
        sign the APK for publishing.
        You can define the keys for the debug and release targets in src/debug/ and src/release/.
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDfPTAeQB2gDcwU6nIUkjIaKrbBkHR4ug" />

        <service android:name=".ACCSERVO" />

        <activity
            android:name=".LocationServices"
            android:label="@string/title_activity_location_services" />
        <activity android:name=".ACCSERVOController"></activity>
    </application>

</manifest>